body {
    background-color: black;
}

header {
    background-color: black;
}
header a{
    color: white;
}


article{
    background-color: black;
}

aside{
    background-color: white;
}

img {
    width: 100%;
}

main{
    background-color: white;
    padding: 3em 6em;
}
iframe{
    margin: 1em 0;
}
#aside1 section{
    border-top: 3px solid black;
    margin-top: 4em;
    display: block;
}
#aside1 h2{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
#aside1 i{
    color:white;
    font-size:0.7em;
    background-color: black;
    padding: 0.7em;
    margin-top: -0.1em;
    margin-right: 0.5em;
}
#aside1 p{
    border-bottom: 1px solid lightgrey;
    padding: 2em 0;
}
footer{
    background-color: black;
}

div section:first-child {
    display: flex;
    flex-direction: column;
}

#aside2 {
    background-color: black;
}
#aside2 ul{
    padding-left: 0;
    margin: 0;
}
#aside2 li{
    border-bottom: 1px solid grey;
    width:100%;
    list-style: none;
}
#aside2 a{
    padding: 0.5em 0;
    color: white;
    width: 100%;
    display: block;
    text-decoration: none;
}
#aside2 a:hover{
    background-color: #009618;
}
#aside2 i{
    float: right;
    margin: 0.2em 2em;

}
#aside2 section{
    padding: 0 1em;
}
input{
    width: 100%;
    background-color: #1F1F1F;
    border: 1px solid #424242;
    color: lightgrey;
    border-radius: 3px;
    margin: 4em 0;


}
.navbar-header span[class*="glyphicon"]{
    color: white;
}

.btnvert{
    background-color: #009618;
}
.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.row-no-padding [class*="col-"]{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main-content {
    background-color: white;
}

@media (max-width: 768px) {
    header li{
        width: 90%;
        border-bottom: 1px solid grey;
        margin: auto;
    }
}
/* sm breakpoint */
@media (min-width: 768px) {
    div section:first-child {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article{
        width: 50%;
    }
}

/* md breakpoint */
@media (min-width: 992px) {
    div section:first-child {
        flex-direction: row;
        flex-wrap:nowrap;
    }

}
