
header {
    background-color: black;
}
header a{
    color: white;
}

article{
    background-color: black;
}

aside{
    background-color: white;
}

main{
    background-color: white;
}

footer{
    background-color: black;
}

img {
    width: 100%;
}
.btnvert{
    background-color: #009618;
}
.nopadding{
    padding-left: 0;
    padding-right: 0;
}

/*.row-no-padding [class*="col-"]{
    padding-left: 0 !important;
    padding-right: 0 !important;
}*/
